  <html>
  <body>
  <form name="profile">
    <div class="edit"><button type="button">edit</button></div>
    <div class="input-text">Username </div>
    <input type="text" name="username" /><br />

    <div class="edit"><button type="button">edit</button></div>
    <div class="input-text">Password </div>
    <input type="password" name="password" class="password"/><br />

    <div class="edit"><button type="button">edit</button></div>
    <div class="input-text">Password Conformation </div>
    <input type="password" name="password confirmation" /><br />

    <div class="edit"><button type="button">edit</button></div>
    <div class="input-text">Email </div>
    <input type="email" /><br />

    <button type="submit" form="profile">sumbit</button>
  </form>
  </body>
  </html>
